<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.supervendas">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Supervendas">
        <activity android:name=".MainPerfil"></activity>
        <activity android:name=".EditarProd" />
        <activity android:name=".VendasActivity" />
        <activity android:name=".ProdViewActivity" />
        <activity android:name=".ProdutosActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".CadastroActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>